@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply text-white transition-all hover:bg-violet-600 bg-violet-500 rounded-sm w-32 px-2 flex items-center justify-around gap-1
  }
  .btn-secondary {
    @apply bg-white transition-all hover:ring-1 hover:ring-stone-400 dark:bg-stone-800 dark:hover:bg-stone-700 dark:hover:ring-0 rounded-sm w-32 px-2 flex items-center justify-around gap-1
  }
  .rounded-icon {
    @apply rounded-full w-7 h-7 p-1 bg-stone-200 dark:bg-stone-900 text-stone-500 dark:text-stone-400
  }
  .alert {
    @apply flex w-fit my-4 mx-auto p-2 rounded-sm text-sm bg-violet-500 border-l-2 border-violet-500 text-violet-500 bg-opacity-20
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}